.element-animation {
    margin: 0 0 2rem 0;    
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
  }
.element-animation.element-show {
opacity: 1;
transition: all 1.5s;
transform: translateY(0%);
}
h3.element-animation.element-show{
  margin-bottom: 10px;
}
.text.element-animation.element-show{
  transition: 0.1s all;
}
@media(max-width:540px){
  .element-animation {
    margin: 0 0 15px 0;    
  }
}