.calc__blocks{
    display: flex;
    height: calc(100% - 59.6px);
}
.calc__block_descr .text{
    display: flex;
    justify-content: center;
}

.calc__block{
    width: 50%;
    padding: 0 20px 10px;
}
.calc__block:first-child{
    background-color: #f0b97696;
}
.calc__block:last-child{
    background-color: #92a5c585;
}
.calc__block_text{
    margin-top: 10px;
    transition: .5s all;
}
.calc__block_title{
    text-align: center;
}
.calc__block:hover .element-animation.element-show{
    transition: .5s all;
}
.calc__block_descr{
    padding: 5px 20px;
}
.calc__block_descr .element-animation.element-show{
    margin-bottom: 10px;
}
.calc__block_persones{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 290px;
}
.calc__block_persone{
    width: 60px;
    height: 60px;
    transition: .2s all;
}
.calc__block_persone:hover{
    cursor: pointer;
}
.calc__block_persone-maksim{
    background: url("./icons/Maksim.svg") center center / cover;
    height: 80px;
    width: 90px;
    transition: .35s all;
}
.calc__block_persone-radmir{
    background: url('./icons/Radmir.svg') center / cover;
    height: 80px;
    width: 80px;
    transition: .35s all;
}
.calc__block_persone-damir {
    height: 80px;
    width: 80px;
    transition: .35s all;
}
.calc__block_persone-individual{
    margin: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.calc__block_persone-individual.radmir.text, .calc__block_persone-individual.damir.text{
    max-width: 190px;
}
.calc__beer_range{
    margin-top: 20px;
    margin: 0 auto;
    width: fit-content;
}
.calc__beer_range .text{
    text-align: center;
}
.input__calc{
    width: 290px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
.calc__block_text{
    margin-bottom: 10px;
}
.calc__beer_btn, .buton{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #0075ff;
    width: 50%;
    margin: 20px auto;
    border-radius: 40px;
    cursor: pointer;
    color: white;
}
.calc__beer_result{
    text-align: center;
}
/*Адаптив*/
@media(max-width:1070px){
    .calc__block_descr .text {
        text-align: center;
    }
}
@media(max-width:700px){
    .input__calc {
        width: 100%;
        margin: 10px auto;
    }
}
@media(max-width: 700px){
    .calc {
        height: auto;
    }
    .calc__beer_result{
        text-align: center;
        margin-bottom: 20px;
    }
    .calc__blocks {
        height: calc(100% - 29.6px);
        flex-direction: column;
    }
    .calc__block{
        width: 100%;
    }
    .calc__block_persones {
        flex-wrap: wrap;
        margin: 0 auto 15px;
        width: 100%;
        max-width: none;
        max-width: 370px;
    }
    
    .calc__beer_btn {
        margin: 15px auto;
    }
    .calc__block_persone {
        width: 50px;
        height: 50px;
    }
    .calc__block_persone-individual {
        margin: 5px auto;
        flex-direction: column;
        text-align: center;
    }
    .calc__block_persone-maksim{
        height: 50px;
        width: 60px;    
    }
    .calc__block_persone-radmir {
        height: 50px;
        width: 40px;
    }
    .calc__block_text {
        margin-bottom: 5px;
    }
}
@media(max-width: 400px){
    .calc__block_persone {
        width: 45px;
        height: 45px;
    }
}
@media(max-width: 340px){
    .calc__block_persone {
        width: 55px;
        height: 55px;
    }
}