footer{
    height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/footer.webp) center/cover;
    position: relative;
    padding: 25px;
}

.contacts__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contacts__list_img {
    width: 65px;
    height: 65px;
}
.contacts__list_link {
    display: inline-block;
}
.contacts__list_li {
    display: inline-block;
    margin: 0 10px;
}