header{
    background: url('../img/bg.webp') center/cover;
}
.menu{
    background: #0000007a;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
}
.menu ul{
    margin: 0 auto;
    display: flex;
    width: 80%;
    padding: 20px 0;
    justify-content: space-between;
    list-style: none;
}
.menu__list_li{
    color: white;
}
.menu__list_li a{
    color: white;
    text-decoration: none;
}

header{
    padding: 0;
}

.icon-one{
    display: none;
}
@media(max-width:600px){
    .icon-one{
        display: block;
    }
}
.hamburger {
    top:50%;
    left:10%;
    width: 50px;
    height: 6px;
    background: #FCFCFC;
    position: absolute;
    box-shadow: 0 2px 5px rgb(28 28 36);
    transition: 0.5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}
.icon-one {
    position: fixed;
    top: 0;
    right: 0px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 100;
}

.hamburger-one:before, .hamburger-one:after {
    content: '';
    position:absolute;
    width: 50px;
    height: 6px;
    background:#FCFCFC;
    box-shadow: 0 2px 5px rgb(28 28 36);
    transition:0.5s;
}

.icon-one.active-one .hamburger-one {
    background:rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgb(28 28 36 / 0%);
}

.icon-one.active-one .hamburger-one:before {
    top: 0;
    transform:rotate(45deg);
}

.icon-one.active-one .hamburger-one:after {
    top: 0;
    transform:rotate(135deg);
    box-shadow: 0 -2px 5px rgb(28 28 36);
}
.timer-swiper{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: white;
    z-index: 2;
}
.timer-swiperAfter{
    background: #007aff;
    height: 100%;
    width: 0;
    height: 10px;
    display: block;
}
.timer-swiperAfter.active{
    width: 100%;
    transition: 5s all;
}
.swiper-slide__text {
    position: absolute;
    bottom: 10%;
    font-size: 35px;
    font-weight: 900;
    color: white;
    background: #0000003d;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 12px 12px #0000003d;
}
.mouseImg{
    width: 100%;
    height: 100%;
}
/*Адаптив*/
@media (max-width:600px){
    .menu{
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 99;
        background: #000000e6;
        transition: .5s all;
    }
    .menu.active{
        right: 0;
    }
    .menu ul {
        flex-direction: column;
        width: 80%;
        height: 90%;
        padding: 6% 0 6%;
    }
    .menu__list_li {
        margin: 40px auto;
    }
}
@media (max-width:540px){
    header, .calc, .table, .album {
        padding-top: 15px;
    }
    .icon-one {
        width: 70px;
        height: 70px;
    }
    
    .hamburger,.hamburger-one:before, .hamburger-one:after{
        width: 45px;
        height: 6px;
    }
}
