header{
    background: url('../img/bg.jpg') center/cover;
}
.menu{
    background: #0000007a;
}
.menu ul{
    margin: 0 auto;
    display: flex;
    width: 80%;
    padding: 20px 0;
    justify-content: space-between;
    list-style: none;
}
.menu__list_li{
    color: white;
}
.menu__list_li a{
    color: white;
    text-decoration: none;
}
header, .calc, .table, .album{
    height: 100vh;
    padding-top: 30px;
}
header{
    padding: 0;
}
footer{
    height: 350px;
    background: url('../img/footer.jpg') center/cover;
}
footer::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 44%);
}

h3.element-animation.element-show{
    margin-bottom: 10px;
}
.calc__block_descr .text{
    display: flex;
    justify-content: center;
}
.text.element-animation.element-show{
    transition: 0.1s all;
}