.contacts{
    padding: 80px 0;
}
.contacts .text, .contants-links {
    width: 60%;
}
.contants-links{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.contants-links img{
    height: 55px;
    margin-right: 35px;
    width: auto;
}
.contants-links a:last-child img{
    margin-right: 0;
}