footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-top: 1px solid #fff;
}
.footer-block:first-child{
    display: flex;
    flex-direction: column;
}