.popup{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color:rgba(110, 110, 110, 0.3);
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: .5s all;
}
.popup.display-flex{
    display: flex;
}
.popup.active{
    opacity: 1;
}
.popup__body{
    width: calc(var(--index) * 18.667);
    position: relative;
}
.popup__body_close{
    position: absolute;
    cursor: pointer;
    right: -30px;
    top: -40px;
    font-size: 30px;
}
.popup__body_content{
    padding: calc(var(--index) * 1.333333)/*40px*/ calc(var(--index) * 1.5)/*45px*/;
    background-color: white;
    color: #523E31;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.popup__body_content-title{
    font-size: 30px;
    line-height: 1.17;
}
.popup__body_content-text{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.8;
    color: #2e2e2e;
    transition: .6s all;
}
.popup__body_content-text.active{
    margin-top: 0;
    font-size: 0;
    line-height: 0;
    color: white;
}
#popup-form{
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    transition: .6s all;
}
#popup-form.display-flex{
    display: flex;
}
#popup-form.active{
    opacity: 1;
}
.popup_img img{
    width: 100%;
}
.popup__body_content-button{
    margin-top: 20px;
    color: #ffffff;
    border: 1px solid #969696;
    background-color: #b5d4ff;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 10px 25px;
    font-size: 14px;
}
@media(max-width:768px){
    .popup__body {
        width: 87%;
    }
    .popup__body_close {
        right: 0;
    }
    .popup__body_content-text {
        margin-top: 10px;
        font-size: 12px;
        line-height: 1.5;
    }
}