footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px;
    border-top: 1px solid #fff;
}
.footer-block:first-child, .footer-block:last-child{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-block:last-child{
    text-align: right;
}
@media(max-width: 720px){
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 26px 0;
        text-align: center;
    }
    footer a, footer .footer-block:last-child{
        padding: calc(var(--index) * 1) 0;
    }
    footer ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    footer ul li{
        margin: unset;
        font-size: 14px;
    }
}
@media(max-width: 540px){
    footer ul li, footer a{
        margin: unset;
        font-size: 12px;
    }
    .footer-block:last-child{
        text-align: center;
    }
}